
.modal {
    width: 75% !important ; 
    height: 90% !important ;
    max-height: 100% !important;
    max-width: 100% !important;
    top: 5% !important; 
}

.photoView{
    /* max-height: 70%;
    max-width: 90%; */
    margin: auto;
    left: 50%;
    right: 50%;
}

.invisible{
    visibility: hidden;
    height: 0px;
    width: 0px;
    margin: 0px;
}

.dropzone{
    /* position: fixed; */
    left: 0;
    width: 96%;
    margin-left: 2%;
    z-index: 2;
    height: 50px;
    border: 2px dashed gray;
    border-radius: 15px;
    text-align: center;
}

#uploadDrop{
    padding-top: 10px
}

#bar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
    height: 55px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#a {
    float: left;
    text-indent: 70px;
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: monospace;
}

#singleDelete {
    width: 80px;
    height: 25px;
    text-align: center;
    padding-bottom: 35px;
    margin-right: 30px;
}
