
.modal {
    width: 75% !important ; 
    height: 90% !important ;
    max-height: 100% !important;
    max-width: 100% !important;
    top: 5% !important; 
}

.photoView{
    /* max-height: 70%;
    max-width: 90%; */
    margin: auto;
    left: 50%;
    right: 50%;
}




#bar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
    height: 55px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#a {
    float: left;
    text-indent: 70px;
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: monospace;
}



